on: [push]
name: build
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: build
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: install test deps
        run: sudo apt install clang-9 llvm-9
      - name: test
        run: CLANG=clang-9 LLVM_LINK=llvm-link-9 cargo test
